[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/wave8q/.local/bin/auto-extract.sh %f %f
Name=auto-extract.sh %f
Comment=Custom definition for auto-extract.sh %f
