[Desktop Entry]
Name=Auto Extract
Comment=Extract archive contents into a same-named folder
Exec=bash -c '$HOME/.local/bin/auto-extract.sh "%f"'
Icon=package-x-generic
Type=Application
MimeType=application/zip;application/x-7z-compressed;application/zstd;
NoDisplay=true
