[Desktop Entry]
Name=WebApp Builder
Exec=/home/wave8q/.local/bin/webapp-builder-yad.sh
Type=Application
Terminal=false
Categories=Utility;
Icon=applications-system
