[Desktop Entry]
Name=WebApp Builder
Exec=$HOME/.local/bin/webapp-builder-yad.sh
Type=Application
Terminal=false
Categories=Utility;
Icon=applications-system
